Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2018-12, with the labels that each got.

#282 SSCS-4375 - Representative added to SYA (before submission)
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WithRepresentativePersonalisationTest.java
  src/e2e/resources/representative/appealCreatedCallback.json
  src/e2e/resources/representative/no-reps-subscribed-appealCreatedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-282

#291 Fixing build pipeline
  build.gradle
Labels: ns:sscs-tya-notif-pr-291

#299 [PREVIEW] SSCS-4712 - Notify exceptions (missing personalizations)
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-299

#293 Make most notifications only send in hours
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
Labels: ns:sscs-tya-notif-pr-293

#304 Suppress CVE-2018-8088. This is a security issue with the current
  dependency-check-suppressions.xml
Labels: ns:sscs-tya-notif-pr-304

#306 SSCS-4659 - upgrade common lib
  build.gradle
Labels: ns:sscs-tya-notif-pr-306
