Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2019-11, with the labels that each got.

#713 SSCS-6635 Only send bulk scan cover sheet for createdInGapsFrom ready…
  dependency-check-suppressions.xml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/resources/appealReceivedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/CohPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/CohPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/resources/json/ccdResponse.json
  src/test/resources/json/ccdResponseWithAppointee.json
  src/test/resources/json/ccdResponseWithAppointeeWithNoOldCaseRef.json
  src/test/resources/json/ccdResponseWithNoOldCaseRef.json
Labels: ns:sscs-tya-notif-pr-713

#741 Sscs 6832 dwp lapsecase link fix
  build.gradle
Labels: ns:sscs-tya-notif-pr-741

#743 SSCS-6770 - adminAppealWithdrawn changes
  dependency-check-suppressions.xml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/resources/application.yaml
Labels: ns:sscs-tya-notif-pr-743

#723 Evidence address
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/config/properties/EvidenceProperties.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-723

#751 Feature/sscs 6925 mya link
  charts/sscs-tya-notif/values.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-751

#750 SSCS-6839 Direction issued to service bus
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandlerTest.java
Labels: ns:sscs-tya-notif-pr-750

#755 Suppress jackson for a week
  dependency-check-suppressions.xml
Labels: ns:sscs-tya-notif-pr-755

#757 Improve logging
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-757

#759 SSCS-6931 Send Direction issued when dormant
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
Labels: ns:sscs-tya-notif-pr-759

#760 enable ready to list on demo. Switch off in preview as it is off on A…
  infrastructure/demo.tfvars
Labels: ns:sscs-tya-notif-pr-760

#753 6798 changed event id
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/resources/application.yaml
Labels: ns:sscs-tya-notif-pr-753

#758 Sscs 6791 change norwhich drt
  build.gradle
Labels: ns:sscs-tya-notif-pr-758

#761 Use created in gaps field as the feature flag
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceBase.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/CohNotificationsIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/OutOfHoursIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/resources/online-dwpUploadResponseCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-761

#762 SSCS-6836 Add missing fields to java model
  build.gradle
  charts/sscs-tya-notif/values.preview.template.yaml
Labels: ns:sscs-tya-notif-pr-762
