Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2019-10, with the labels that each got.

#670 try no suppression
  build.gradle
  charts/sscs-tya-notif/requirements.yaml
  dependency-check-suppressions.xml
Labels: ns:sscs-tya-notif-pr-670

#672 remove aks
  Jenkinsfile_CNP
Labels: ns:sscs-tya-notif-pr-672

#671 Bump chart version
  Dockerfile
  charts/sscs-tya-notif/Chart.yaml
Labels: ns:sscs-tya-notif-pr-671

#653 SSCS-5210 - add notifications subscription
  Jenkinsfile_CNP
  build.gradle
  charts/sscs-tya-notif/values.preview.template.yaml
  charts/sscs-tya-notif/values.yaml
  dependency-check-suppressions.xml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/sscs/callback/CallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/messaging/JmsErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/messaging/MessagingConfig.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/CallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/HandlerHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumerTest.java
Labels: ns:sscs-tya-notif-pr-653

#673 Enable AKS AAT Staging
  Jenkinsfile_CNP
Labels: ns:sscs-tya-notif-pr-673

#675 Bump byte-buddy from 1.10.0 to 1.10.1
  build.gradle
Labels: ns:sscs-tya-notif-pr-675

#676 Add aadIdentityName
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.preview.template.yaml
  charts/sscs-tya-notif/values.yaml
Labels: ns:sscs-tya-notif-pr-676

#679 Rollback postgres upgrade to 43.2.2
  build.gradle
Labels: ns:sscs-tya-notif-pr-679

#680 Remove postgres enabled for AAT
  charts/sscs-tya-notif/values.aat.template.yaml
Labels: ns:sscs-tya-notif-pr-680

#688 Set Postrgres DB values for AKS AAT
  charts/sscs-tya-notif/values.preview.template.yaml
  charts/sscs-tya-notif/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:sscs-tya-notif-pr-688

#689 Trying to fix aat aks
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.aat.template.yaml
  charts/sscs-tya-notif/values.preview.template.yaml
  charts/sscs-tya-notif/values.yaml
Labels: ns:sscs-tya-notif-pr-689

#678 SSCS-6389 StoreGovNotifyLetters
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/CohNotificationsIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/OutOfHoursIt.java
  src/e2e/resources/representative/appealWithdrawnCallback.json
  src/e2e/resources/representative/hearingBookedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/TrackYourAppealNotificationsApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationSender.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SaveLetterCorrespondenceAsyncService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SaveLetterCorrespondenceAsyncServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-678

#692 Sscs 6624 tya hearing fix
  build.gradle
Labels: ns:sscs-tya-notif-pr-692

#697 suppress until end of the month
  dependency-check-suppressions.xml
Labels: ns:sscs-tya-notif-pr-697

#699 Sscs 6667 issue decision notice v2
  README.md
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/DocmosisWithGovNotifyLetterFunctionalTest.java
  src/e2e/resources/decisionIssuedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/LetterUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/LetterUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
  src/test/resources/json/ccdResponse_decisionIssued.json
  src/test/resources/json/ccdResponse_decisionIssued_withAppointee.json
  src/test/resources/json/ccdResponse_decisionIssued_withRep.json
  src/test/resources/json/ccdResponse_decisionIssued_withRep_withAppointee.json
Labels: ns:sscs-tya-notif-pr-699

#703 Temporay disable reminder tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
Labels: ns:sscs-tya-notif-pr-703

#705 Set pdf api url values v2
  charts/sscs-tya-notif/values.yaml
Labels: ns:sscs-tya-notif-pr-705

#704 Set pdf api url in values config
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.preview.template.yaml
  charts/sscs-tya-notif/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:sscs-tya-notif-pr-704

#707 Revert reminder test ignore
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
Labels: ns:sscs-tya-notif-pr-707

#708 Remove config from aat yaml
  charts/sscs-tya-notif/values.aat.template.yaml
  charts/sscs-tya-notif/values.preview.template.yaml
  charts/sscs-tya-notif/values.yaml
  kubernetes/deployment.template.yaml
Labels: ns:sscs-tya-notif-pr-708

#716 Use env vars as in application.yaml
  dependency-check-suppressions.xml
  src/main/resources/bootstrap.yaml
Labels: ns:sscs-tya-notif-pr-716

#720 Sscs 6747 change issue direction notices v2
  README.md
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-720

#721 Temp ignore reminder tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
Labels: ns:sscs-tya-notif-pr-721

#722 Ignore tests v2
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
  src/e2e/resources/representative/hearingBookedCallback.json
Labels: ns:sscs-tya-notif-pr-722

#610 Sscs 6319 dwp lapse
  .travis.yml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/resources/appointee/dwpAppealLapsedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/AllReminderRemover.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/AllReminderRemoverTest.java
Labels: ns:sscs-tya-notif-pr-610

#719 SSCS-6764 Use CCD ID when created in gaps from field is readyToList
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-719

#698 SSCS-6614 send admin appeal withdrawal notifications
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceBase.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceForAdminAppealWithdrawalTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceForSubscriptionUpdatedTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/CohNotificationFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/Retry.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/AdminAppealWithdrawnNotificationsTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WithRepresentativePersonalisationTest.java
  src/e2e/resources/handlers/adminAppealWithdrawnAppellantCallback.json
  src/e2e/resources/handlers/adminAppealWithdrawnAppointeeCallback.json
  src/e2e/resources/handlers/adminAppealWithdrawnNoSubscriptionsCallback.json
  src/e2e/resources/handlers/adminAppealWithdrawnRepsCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/CallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/AdminAppealWithdrawnNotificationsEventsHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/CohPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationSender.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/AdminAppealWithdrawnNotificationsEventsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-698

#730 Suppress dependency check for quartz issue for a month as there is no
  dependency-check-suppressions.xml
Labels: ns:sscs-tya-notif-pr-730

#732 fix for CVE-2019-13990
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs-tya-notif-pr-732

#725 SSCS-6669 - add DirectionType
  build.gradle
Labels: ns:sscs-tya-notif-pr-725

#740 Sscs 6796 robotics pip number change
  build.gradle
Labels: ns:sscs-tya-notif-pr-740

#742 Fix functional tests after tya link removed
  build.gradle
  dependency-check-suppressions.xml
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
Labels: ns:sscs-tya-notif-pr-742
