Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2019-06, with the labels that each got.

#506 SSCS-5751 - AppealReceived notification being sent when it shouldn’t
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/resources/application.yaml
Labels: ns:sscs-tya-notif-pr-506

#515 added prod link
  infrastructure/prod.tfvars
Labels: ns:sscs-tya-notif-pr-515

#523 send email when relisting an online hearing
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
Labels: ns:sscs-tya-notif-pr-523

#524 SSCS-5571 - update sscs-common version
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/TrackYourAppealNotificationsApplication.java
Labels: ns:sscs-tya-notif-pr-524

#531 SSCS-5611 Appeal lodged letter to Appellant and other parties MVP
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
Labels: ns:sscs-tya-notif-pr-531

#522 SSCS-4984 - Generate Evidence Coversheet.
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  charts/sscs-tya-notif/values.preview.template.yaml
  charts/sscs-tya-notif/values.yaml
  infrastructure/main.tf
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfCoverSheetServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/TrackYourAppealNotificationsApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/DocmosisTemplatesConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/docmosis/PdfCoverSheet.java
  src/main/java/uk/gov/hmcts/reform/sscs/health/DocmosisHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DocmosisPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfCoverSheetService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/health/DocmosisHealthIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DocmosisPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfCoverSheetServiceTest.java
Labels: ns:sscs-tya-notif-pr-522

#525 SSCS-5092 Send a letter when a case is struckout update pdf common ve…
  build.gradle
Labels: ns:sscs-tya-notif-pr-525

#528 SSCS-5911 - update common libraries
  build.gradle
Labels: ns:sscs-tya-notif-pr-528

#552 Add App Insights Agent Configuration
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.0.2.jar
Labels: ns:sscs-tya-notif-pr-552

#546 SSCS-5989 - update sscs-common version
  build.gradle
Labels: ns:sscs-tya-notif-pr-546

#543 SSCS-5919 - notifications are not sent for a Gaps appeal
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
Labels: ns:sscs-tya-notif-pr-543

#536 SSCS-5872 Non-compliant Interloc generic information request letter
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/resources/application.yaml
Labels: ns:sscs-tya-notif-pr-536

#549 SSCS-5722 - update sscs-common rc version
  build.gradle
Labels: ns:sscs-tya-notif-pr-549

#540 SSCS-5830 Pending appeal but not compliant (Letter)
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs-tya-notif-pr-540

#538 SSCS-5871 Directions from the tribunal (Letter)
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/BundledLetterTemplateUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/BundledLetterTemplateUtilTest.java
Labels: ns:sscs-tya-notif-pr-538
