Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2019-03, with the labels that each got.

#382 SSCS-5171 Replace 'Direction Text' with 'Strike Out Notice'
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-382

#368 SSCS-5125 Reps Notifications
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-368

#380 SSCS-4746 Add CCD ID to Reps appeal created SMS
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceForSubscriptionUpdatedTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/SubscriptionPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/SubscriptionPersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-380

#384 SSCS-4555/6 Hearing reminder
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/test/java/uk/gov/hmcts/reform/sscs/SscsCaseDataUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/resources/json/ccdResponseWithAppointee.json
Labels: ns:sscs-tya-notif-pr-384

#401 SSCS-4658: Send non UK mobile number
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/Notification.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationHandlerTest.java
Labels: ns:sscs-tya-notif-pr-401

#407 SSCS-5270: Notify – filter exception threw an exception
  src/main/java/uk/gov/hmcts/reform/sscs/TrackYourAppealNotificationsApplication.java
Labels: ns:sscs-tya-notif-pr-407

#396 SSCS-3611 Evidence reminder reps
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/EvidenceReceivedFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WithRepresentativePersonalisationTest.java
  src/e2e/resources/oral-responseReceivedCallback.json
  src/e2e/resources/paper-responseReceivedCallback.json
  src/e2e/resources/representative/no-reps-subscribed-appealCreatedCallback.json
  src/e2e/resources/representative/no-reps-subscribed-appealDormantCallback.json
  src/e2e/resources/representative/no-reps-subscribed-appealReceivedCallback.json
  src/e2e/resources/representative/no-reps-subscribed-appealWithdrawnCallback.json
  src/e2e/resources/representative/no-reps-subscribed-hearingAdjournedCallback.json
  src/e2e/resources/representative/no-reps-subscribed-hearingBookedCallback.json
  src/e2e/resources/representative/no-reps-subscribed-hearingPostponedCallback.json
  src/e2e/resources/representative/oral-responseReceivedCallback.json
  src/e2e/resources/representative/paper-responseReceivedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/SscsCaseDataUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactoryTest.java
  src/test/resources/json/ccdResponseWithAppointee.json
  src/test/resources/json/ccdResponseWithAppointeeWithNoOldCaseRef.json
Labels: ns:sscs-tya-notif-pr-396

#332 SSCS-4305 hearing booked letter
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/resources/appointee/hearingBookedCallback.json
  src/e2e/resources/hearingBookedCallback.json
  src/e2e/resources/representative/hearingBookedCallback.json
  src/e2e/resources/representative/no-reps-subscribed-hearingBookedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/deserialize/SscsCaseDataWrapperDeserializer.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/LetterUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/SscsCaseDataUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/LetterUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-332

#412 Upgrade common pdf library to 0.0.106
  build.gradle
Labels: ns:sscs-tya-notif-pr-412

#403 SSCS-3613 Hearing reminder reps notification
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WithRepresentativePersonalisationTest.java
  src/e2e/resources/representative/appealCreatedCallback.json
  src/e2e/resources/representative/appealDormantCallback.json
  src/e2e/resources/representative/appealLapsedCallback.json
  src/e2e/resources/representative/appealReceivedCallback.json
  src/e2e/resources/representative/appealWithdrawnCallback.json
  src/e2e/resources/representative/hearingAdjournedCallback.json
  src/e2e/resources/representative/hearingBookedCallback.json
  src/e2e/resources/representative/hearingPostponedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactoryTest.java
Labels: ns:sscs-tya-notif-pr-403

#411 [SSCS-5271] Notifications - reminders not scheduled correctly
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/DwpResponseLateReminderIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/HearingReminderIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
Labels: ns:sscs-tya-notif-pr-411

#417 SSCS-5346 NULL Subscription
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/DwpResponseLateReminder.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/EvidenceReminder.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingHoldingReminder.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingReminder.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/scheduler/CohActionExecutor.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-417

#394 SSCS-4400 Evidence received MVP
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/resources/application.yaml
Labels: ns:sscs-tya-notif-pr-394

#395 SSCS-5216 Accomodate reps with org names in Notify personalisations
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/WithRepresentativePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/WithRepresentativePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-395

#408 SSCS-4336 Withdrawal Letter
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
Labels: ns:sscs-tya-notif-pr-408

#399 SSCS-4338 response received
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/resources/application.yaml
Labels: ns:sscs-tya-notif-pr-399

#419 set up SSCS track your appeal notifications security scan
  Jenkinsfile_nightly
  functional-output/.gitkeep
  security.sh
Labels: ns:sscs-tya-notif-pr-419
