Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2019-01, with the labels that each got.

#311 SSCS-4849 Send SMS to UK mobiles only
  README.md
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/Notification.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/util/UkMobile.java
  src/test/java/uk/gov/hmcts/reform/sscs/domain/notify/util/UkMobileTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-311

#295 Don't create preview environments for dependabot
  Jenkinsfile_CNP
Labels: ns:sscs-tya-notif-pr-295

#314 updated docs about dependabot and preview env
  README.md
Labels: ns:sscs-tya-notif-pr-314

#308 SSCS-4497 Resend appealCreated notification
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WithRepresentativePersonalisationTest.java
  src/e2e/resources/createAppealPDFCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-308

#318 add log for event type
  src/main/java/uk/gov/hmcts/reform/sscs/controller/NotificationController.java
Labels: ns:sscs-tya-notif-pr-318

#320 SSCS-4548 additional line for appointees
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/resources/application.yaml
Labels: ns:sscs-tya-notif-pr-320

#312 SSCS-4402 - Non-compliant case letter
  build.gradle
  dependency-check-suppressions.xml
  kubernetes/deployment.template.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/CohNotificationsIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/TrackYourAppealNotificationsApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/PdfServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/sscs/deserialize/SscsCaseDataWrapperDeserializer.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/Notification.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/Template.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/NotificationClientRuntimeException.java
  src/main/java/uk/gov/hmcts/reform/sscs/extractor/HearingContactDateExtractor.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/CohPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/LetterUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationSender.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/coh/CohClient.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/deserialize/SscsCaseDataWrapperDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/CohPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/LetterUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
  src/test/resources/pdfs/direction-notice-coversheet-sample.pdf
  src/test/resources/pdfs/direction-text.pdf
Labels: ns:sscs-tya-notif-pr-312

#323 remove document store properties because it not used
  infrastructure/main.tf
Labels: ns:sscs-tya-notif-pr-323

#325 move properties above to make sure they below to the default profile
  infrastructure/main.tf
  src/main/resources/application.yaml
Labels: ns:sscs-tya-notif-pr-325

#324 Added bad request for unrecognized events
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/controller/NotificationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/test/java/uk/gov/hmcts/reform/sscs/controller/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventTypeTest.java
Labels: ns:sscs-tya-notif-pr-324

#301 SSCS-4547 - Appointee - Appeal received (appeal created event)
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/SubscriptionType.java
  src/main/java/uk/gov/hmcts/reform/sscs/deserialize/SscsCaseDataWrapperDeserializer.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/NotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/deserialize/SscsCaseDataWrapperDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/resources/json/ccdResponseWithAppointee.json
Labels: ns:sscs-tya-notif-pr-301

#334 SSCS-4402 - Implement feature toggle for bundled letters, default off
  dependency-check-suppressions.xml
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
Labels: ns:sscs-tya-notif-pr-334

#337 SSCS-4402 - Make controller methods publice (sonarqube fix)
  src/main/java/uk/gov/hmcts/reform/sscs/controller/NotificationController.java
Labels: ns:sscs-tya-notif-pr-337

#341 Changed final decision to cor decision
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventTypeTest.java
Labels: ns:sscs-tya-notif-pr-341

#342 SSCS-4402 - Tighten hasAppointee and hasRep logic
  src/main/java/uk/gov/hmcts/reform/sscs/deserialize/SscsCaseDataWrapperDeserializer.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/LetterUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
Labels: ns:sscs-tya-notif-pr-342

#303 SSCS-4548 - Appointee notifications for DWP response received on oral cases
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/SubscriptionPersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-303

#339 SSCS-4993 - AppealCreated notification are not getting sent
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/resources/appealCreatedAppointeeCallback.json
  src/e2e/resources/appealCreatedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/deserialize/SscsCaseDataWrapperDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-339

#345 Changed time to hear about a hearing
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-345
