Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2019-08, with the labels that each got.

#573 SSCS 5973 - Case dormant no more notifications
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/SscsCaseDataWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/AllReminderRemover.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/AllReminderRemoverTest.java
Labels: ns:sscs-tya-notif-pr-573

#584 upgrade common libraries
  build.gradle
Labels: ns:sscs-tya-notif-pr-584

#587 Update sidam config
  src/main/resources/application.yaml
Labels: ns:sscs-tya-notif-pr-587

#590 SSCS-6309 - Turn on direction issued letter in prod.
  infrastructure/prod.tfvars
Labels: ns:sscs-tya-notif-pr-590

#582 Add appinsights to dockerfile
  .dockerignore
  Dockerfile
  charts/sscs-tya-notif/values.yaml
Labels: ns:sscs-tya-notif-pr-582

#592 Bumo jackson to 2.9.9.2
  dependency-check-suppressions.xml
Labels: ns:sscs-tya-notif-pr-592

#583 Sscs 5962 adding name sms notification
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
  src/main/resources/application.yaml
Labels: ns:sscs-tya-notif-pr-583

#596 use new common with fix for null case id
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/CohNotificationFunctionalTest.java
Labels: ns:sscs-tya-notif-pr-596

#598 SSCS-6345 - Appeal lodged letters should not be sent.
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-598

#595 Sscs 5962 adding name sms notification testupdate
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
Labels: ns:sscs-tya-notif-pr-595

#578 Sscs 6140 hearing id tya notifications
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
Labels: ns:sscs-tya-notif-pr-578

#603 Sscs 6255 update sscs venues
  build.gradle
Labels: ns:sscs-tya-notif-pr-603

#597 SSCS-6224 - Send evidence cover sheet (x2) to the representative
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/DocmosisWithGovNotifyLetterFunctionalTest.java
  src/e2e/resources/appealReceivedCallback.json
  src/main/resources/application.yaml
Labels: ns:sscs-tya-notif-pr-597

#606 https://tools.hmcts.net/jira/browse/SSCS-6378
  Jenkinsfile_CNP
Labels: ns:sscs-tya-notif-pr-606

#600 SSCS-6264 - update sscs-common version
  build.gradle
Labels: ns:sscs-tya-notif-pr-600

#601 SSCS-6324 - Only send bulk scan coversheets for PIP SYA cases
  src/e2e/resources/appealReceivedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
  src/test/resources/json/ccdResponse.json
  src/test/resources/json/ccdResponseWithAppointee.json
  src/test/resources/json/ccdResponseWithAppointeeWithNoOldCaseRef.json
  src/test/resources/json/ccdResponseWithNoOldCaseRef.json
Labels: ns:sscs-tya-notif-pr-601

#609 SSCS-6325 Handle dormant appeal notifications part 2
  charts/sscs-tya-notif/requirements.yaml
  charts/sscs-tya-notif/values.preview.template.yaml
  charts/sscs-tya-notif/values.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
Labels: ns:sscs-tya-notif-pr-609

#608 SSCS-6321 Truncate address lines more than 45 characters
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterServiceTest.java
Labels: ns:sscs-tya-notif-pr-608

#607 Sscs 6290 reps dwp response fix
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactory.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactoryTest.java
Labels: ns:sscs-tya-notif-pr-607

#602 Extend time for PR's to pass
  charts/sscs-tya-notif/values.preview.template.yaml
Labels: ns:sscs-tya-notif-pr-602
