Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2019-02, with the labels that each got.

#347 Upgraded dependency for c3p0
  build.gradle
Labels: ns:sscs-tya-notif-pr-347

#346 Removed old preview environment
  infrastructure/main.tf
  infrastructure/output.tf
Labels: ns:sscs-tya-notif-pr-346

#348 SSCS-5057 Stop duplicate notifications
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/OutOfHoursIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
Labels: ns:sscs-tya-notif-pr-348

#316 Optimise docker image build layers
  .dockerignore
  Dockerfile
Labels: ns:sscs-tya-notif-pr-316

#349 SSCS-5047 - Use CCD Case Id when there is no Case Reference Number
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-349

#340 SSCS-4553 : appointee evidence received
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/resources/appointee/evidenceReceivedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/controller/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/scheduler/CcdActionExecutorTest.java
Labels: ns:sscs-tya-notif-pr-340

#335 SSCS-4550: Appointee hearing booked
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/resources/appointee/hearingBookedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-335

#333 SSCS-4563 appointee appeal withdrawn
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/resources/appointee/appealWithdrawnCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-333

#343 SSCS-4549 appointee reponse received paper case
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/resources/appointee/responseReceivedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-343

#330 SSCS-4564: appointee hearing postponed
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/resources/appointee/hearingPostponedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/scheduler/CcdActionExecutorTest.java
Labels: ns:sscs-tya-notif-pr-330

#329 SSCS-4565: appointee appeal lapsed
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/resources/appointee/appealLapsedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs-tya-notif-pr-329

#350 SSCS-4562: Appointee hearing adjourned
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/resources/appointee/hearingAdjournedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs-tya-notif-pr-350

#257 Sscs 4179 rename supporter to representative subscription
  src/e2e/resources/evidenceReceivedCallback.json
  src/e2e/resources/hearingAdjournedCallback.json
  src/e2e/resources/hearingPostponedCallback.json
  src/e2e/resources/online-responseReceivedCallback.json
  src/e2e/resources/paper/responseReceived/esa-paper-responseReceivedCallback.json
  src/e2e/resources/paper/responseReceived/paper-no-subscriptions-responseReceivedCallback.json
  src/e2e/resources/paper/responseReceived/pip-paper-responseReceivedCallback.json
  src/e2e/resources/representative/no-reps-subscribed-appealReceivedCallback.json
  src/e2e/resources/responseReceivedCallback.json
  src/e2e/resources/subscriptionCreatedCallback.json
  src/e2e/resources/subscriptionUpdatedCallback.json
  src/test/java/uk/gov/hmcts/reform/sscs/SscsCaseDataUtils.java
Labels: DO NOT MERGE, ns:sscs-tya-notif-pr-257

#357 Set online_hearing_link to be the respective prod slot not the staging slot.
  infrastructure/demo.tfvars
  infrastructure/preview.tfvars
  kubernetes/deployment.template.yaml
Labels: ns:sscs-tya-notif-pr-357

#351 SSCS-5059: add 'ccd_id' dynamic content
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-351

#363 feign-httpclient upgrade does not work. Downgrade it back again.
  build.gradle
Labels: ns:sscs-tya-notif-pr-363

#367 Add logging events when COH events are handled
  src/main/java/uk/gov/hmcts/reform/sscs/controller/NotificationController.java
Labels: ns:sscs-tya-notif-pr-367

#328 SSCS-4307 appeal received letter
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/CohNotificationsIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/OutOfHoursIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/deserialize/SscsCaseDataWrapperDeserializer.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationSender.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
  src/test/resources/json/ccdResponseWithAppointeeWithNoOldCaseRef.json
  src/test/resources/json/ccdResponseWithNoOldCaseRef.json
Labels: ns:sscs-tya-notif-pr-328

#375 sidam fix
  build.gradle
Labels: ns:sscs-tya-notif-pr-375

#376 Fix test that fails outside 9am to 5pm
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/DwpResponseLateReminderIt.java
Labels: ns:sscs-tya-notif-pr-376

#377 SSCS-4307 - fix broken e2e tests
  src/e2e/resources/appealCreatedAppointeeCallback.json
  src/e2e/resources/appealCreatedCallback.json
  src/e2e/resources/representative/appealCreatedCallback.json
  src/e2e/resources/representative/no-reps-subscribed-appealCreatedCallback.json
Labels: ns:sscs-tya-notif-pr-377

#374 SSCS-5163 Remove COR SMS notifications
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/CohNotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/CohNotificationFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/main/resources/application.yaml
Labels: ns:sscs-tya-notif-pr-374

#381 SSCS-4307 - tighten has rpc check
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
Labels: ns:sscs-tya-notif-pr-381

#383 fix CVE-2019-7722-fix
  build.gradle
Labels: ns:sscs-tya-notif-pr-383

#353 SSCS-4106: Evidence received Appellant notification (paper case)
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/EvidenceReceivedFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WithRepresentativePersonalisationTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationConfig.java
  src/main/resources/application.yaml
Labels: ns:sscs-tya-notif-pr-353

#373 SSCS-5054 - Subscription updated
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceForSubscriptionUpdatedTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/SubscriptionWithType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/CohPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/SubscriptionPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/WithRepresentativePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/CohPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/SubscriptionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/WithRepresentativePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-373

#344 SSCS-4554 - appointee evidence received (paper case)
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/resources/appointee/paper-evidenceReceivedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs-tya-notif-pr-344

#317 SSCS-4658: Check for a UK mobile number to use commons library
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceForSubscriptionUpdatedTest.java
  src/e2e/resources/evidenceReceivedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/Notification.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/util/UkMobile.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/domain/notify/util/UkMobileTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactoryTest.java
Labels: ns:sscs-tya-notif-pr-317

#378 SSCS-4551/4552 Appointee evidence reminder notifications for oral/paper cases
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/resources/appointee/oral-evidenceReminderCallback.json
  src/e2e/resources/appointee/paper-evidenceReminderCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-378

#389 SSCS-5217 RPC NPE fix for scottish SC numbers
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/resources/json/ccdResponseWithNoOldCaseRef.json
Labels: ns:sscs-tya-notif-pr-389

#385 SSCS-4307 - Fix issues found during testing
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/deserialize/SscsCaseDataWrapperDeserializer.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-385
