Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2019-04, with the labels that each got.

#437 SSCS-5383 Log errors when actions fail
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/service/scheduler/BaseActionExecutor.java
Labels: ns:sscs-tya-notif-pr-437

#410 Sscs 5094 send direction notice via letter
  build.gradle
  dependency-check-suppressions.xml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceForSubscriptionUpdatedTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/LetterUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/LetterUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
  src/test/resources/json/ccdResponse_directionIssued.json
  src/test/resources/json/ccdResponse_directionIssued_withAppointee.json
  src/test/resources/json/ccdResponse_directionIssued_withRep.json
  src/test/resources/json/ccdResponse_directionIssued_withRep_withAppointee.json
  src/test/resources/json/ccdResponse_struckOut.json
  src/test/resources/json/ccdResponse_struckOut_withAppointee.json
  src/test/resources/json/ccdResponse_struckOut_withRep.json
  src/test/resources/json/ccdResponse_struckOut_withRep_withAppointee.json
Labels: ns:sscs-tya-notif-pr-410

#441 SSCS-5219 - update sscs-common version
  build.gradle
Labels: ns:sscs-tya-notif-pr-441

#436 SSCS-5319 Capture error from Notify (missing hearing details)
  src/main/java/uk/gov/hmcts/reform/sscs/service/ReminderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/DwpResponseLateReminder.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/DwpResponseLateReminderRemover.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/EvidenceReminder.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingHoldingReminder.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingHoldingReminderRemover.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingReminder.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingReminderRemover.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/ReminderHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/ReminderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/DwpResponseLateReminderRemoverTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/DwpResponseLateReminderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/EvidenceReminderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingHoldingReminderRemoverTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingHoldingReminderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingReminderRemoverTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingReminderTest.java
Labels: ns:sscs-tya-notif-pr-436

#434 SSCS-5228 Use common deserialiser
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/CohNotificationsIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/DwpResponseLateReminderIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/HearingHoldingReminderIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/HearingReminderIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/OutOfHoursIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/TrackYourAppealNotificationsApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/SpringConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/sscs/deserialize/SscsCaseDataWrapperDeserializer.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/SscsCaseDataWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/NotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/scheduler/BaseActionExecutor.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/scheduler/CcdActionExecutor.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/scheduler/CohActionExecutor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/controller/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/deserialize/SscsCaseDataWrapperDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/scheduler/CcdActionExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/scheduler/CohActionExecutorTest.java
Labels: ns:sscs-tya-notif-pr-434

#450 SSCS-5455 Notify - Null pointer scheduling to Quartz
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/DwpResponseLateReminder.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/EvidenceReminder.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingHoldingReminder.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingReminder.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/DwpResponseLateReminderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/EvidenceReminderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingHoldingReminderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingReminderTest.java
Labels: ns:sscs-tya-notif-pr-450

#425 SSCS-5081 - upgrade cnp-java-base to the latest
  Dockerfile
Labels: ns:sscs-tya-notif-pr-425

#453 SSCS-5459 Fix NPE thrown for reminders by using new deserializer
  src/main/java/uk/gov/hmcts/reform/sscs/TrackYourAppealNotificationsApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/scheduler/BaseActionExecutor.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/scheduler/CcdActionExecutor.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/scheduler/CohActionExecutor.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/scheduler/CcdActionExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/scheduler/CohActionExecutorTest.java
Labels: ns:sscs-tya-notif-pr-453

#432 SSCS-3936 - Upgrade java logging
  build.gradle
  dependency-check-suppressions.xml
Labels: DO NOT MERGE, ns:sscs-tya-notif-pr-432

#458 SSCS-3936: Java Logging upgrade Part 2
  build.gradle
Labels: ns:sscs-tya-notif-pr-458

#459 Add infra for shared app insights
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:sscs-tya-notif-pr-459

#420 SSCS-4777 - Generic info request letter
  build.gradle
  dependency-check-suppressions.xml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/resources/json/ccdResponse_directionIssued.json
  src/test/resources/json/ccdResponse_directionIssued_withAppointee.json
  src/test/resources/json/ccdResponse_struckOut.json
  src/test/resources/json/ccdResponse_struckOut_withAppointee.json
Labels: ns:sscs-tya-notif-pr-420

#463 Upgrade common to 2.0.3
  build.gradle
Labels: ns:sscs-tya-notif-pr-463

#468 Upgrade common to 2.0.4
  build.gradle
Labels: ns:sscs-tya-notif-pr-468

#440 SSCS-5332-5333-5335-5336 Remove hearing holding reminders for Appellant and Representative
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/HearingHoldingReminderIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/extractor/HearingContactDateExtractor.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingHoldingReminder.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingHoldingReminderRemover.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/extractor/HearingContactDateExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingHoldingReminderRemoverTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/HearingHoldingReminderTest.java
Labels: ns:sscs-tya-notif-pr-440

#464 SSCS-5439 - Remove appeal lodge notification
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/resources/application.yaml
Labels: ns:sscs-tya-notif-pr-464

#443 SSCS-5330 TYA notification – Representative – DWP response deadline p…
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/DwpResponseLateReminderIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/DwpResponseLateReminder.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/DwpResponseLateReminderRemover.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/DwpResponseLateReminderRemoverTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/DwpResponseLateReminderTest.java
Labels: ns:sscs-tya-notif-pr-443
