Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2019-09, with the labels that each got.

#585 SSCS-4944 improve exceptions logging
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-585

#622 Sscs 6057 case updated notification shouldnotscheduled
  charts/sscs-tya-notif/values.aat.template.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-622

#624 Revert postgresql version
  build.gradle
Labels: ns:sscs-tya-notif-pr-624

#619 SSCS-6493 Add cover sheet to rep direction issued letter from docmosis
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/DocmosisWithGovNotifyLetterFunctionalTest.java
  src/e2e/resources/directionIssuedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/BundledLetterTemplateUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/BundledLetterTemplateUtilTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-619

#634 SSCS-6316 - bump sscs-pdf-email common to version 1.1.5
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/CohNotificationsIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/OutOfHoursIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationSender.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationSenderTest.java
Labels: ns:sscs-tya-notif-pr-634

#626 SSCS-6467 - docmosis address constants
  src/main/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterServiceTest.java
Labels: ns:sscs-tya-notif-pr-626

#641 Wait for reminder
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
Labels: ns:sscs-tya-notif-pr-641

#645 SSCS-6476 - update sscs-common version
  build.gradle
Labels: ns:sscs-tya-notif-pr-645

#632 SSCS-6554 Universal Credit changes for notifications
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-632

#640 SSCS-6454: upgrade common lib
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs-tya-notif-pr-640

#655 SSCS-6678-deserilise dates
  build.gradle
Labels: ns:sscs-tya-notif-pr-655

#657 Remove Postgres POD from AAT AKS
  charts/sscs-tya-notif/values.aat.template.yaml
  charts/sscs-tya-notif/values.yaml
Labels: ns:sscs-tya-notif-pr-657

#658 Enable AKS AAT deployment
  Jenkinsfile_CNP
Labels: ns:sscs-tya-notif-pr-658

#648 SSCS-6625 - Allow blank/empty benefit types (edge case)
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-648

#661 Test no postgres preview AKS
  charts/sscs-tya-notif/values.aat.template.yaml
  charts/sscs-tya-notif/values.preview.template.yaml
Labels: ns:sscs-tya-notif-pr-661

#659 SSCS-6431 Store SMSs sent out from Gov Notify
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceForSubscriptionUpdatedTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/NotifyResponse.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationSender.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-659

#662 Refactor some of the values for Helm
  charts/sscs-tya-notif/values.aat.template.yaml
  charts/sscs-tya-notif/values.preview.template.yaml
  charts/sscs-tya-notif/values.yaml
Labels: ns:sscs-tya-notif-pr-662

#663 SSCS-6699 - Dwp response cleared
  build.gradle
Labels: ns:sscs-tya-notif-pr-663
