Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2019-07, with the labels that each got.

#562 Interloc feature flag enabled on Prod
  infrastructure/prod.tfvars
Labels: ns:sscs-tya-notif-pr-562

#555 SSCS-5914 Send appealCreated notification on validAppealCreated event
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WithRepresentativePersonalisationTest.java
  src/e2e/resources/representative/validAppealCreatedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-555

#563 SSCS-6052 - Letters – Interloc letters not having name when being sent out
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs-tya-notif-pr-563

#565 SSCS-5806 Add TYA id to the COR register link
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-565

#532 Get latest hearing based on ID rather than time
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
Labels: ns:sscs-tya-notif-pr-532

#567 Fix tests for sscs common 3.0.24 version
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceForSubscriptionUpdatedTest.java
  src/e2e/resources/appellant-subscriptionUpdatedCallback.json
  src/e2e/resources/appointee-subscriptionUpdatedCallback.json
  src/e2e/resources/appointee/appealLapsedCallback.json
  src/e2e/resources/appointee/appealWithdrawnCallback.json
  src/e2e/resources/appointee/evidenceReceivedCallback.json
  src/e2e/resources/appointee/hearingAdjournedCallback.json
  src/e2e/resources/appointee/hearingBookedCallback.json
  src/e2e/resources/appointee/hearingPostponedCallback.json
  src/e2e/resources/appointee/oral-evidenceReminderCallback.json
  src/e2e/resources/appointee/paper-evidenceReceivedCallback.json
  src/e2e/resources/appointee/paper-evidenceReminderCallback.json
  src/e2e/resources/appointee/responseReceivedCallback.json
  src/e2e/resources/createAppealPDFCallback.json
  src/e2e/resources/evidenceReceivedCallback.json
  src/e2e/resources/hearingAdjournedCallback.json
  src/e2e/resources/hearingBookedCallback.json
  src/e2e/resources/hearingPostponedCallback.json
  src/e2e/resources/online-responseReceivedCallback.json
  src/e2e/resources/oral-responseReceivedCallback.json
  src/e2e/resources/paper-responseReceivedCallback.json
  src/e2e/resources/paper/responseReceived/esa-paper-responseReceivedCallback.json
  src/e2e/resources/paper/responseReceived/paper-no-subscriptions-responseReceivedCallback.json
  src/e2e/resources/paper/responseReceived/pip-paper-responseReceivedCallback.json
  src/e2e/resources/representative/appealDormantCallback.json
  src/e2e/resources/representative/appealLapsedCallback.json
  src/e2e/resources/representative/appealReceivedCallback.json
  src/e2e/resources/representative/appealWithdrawnCallback.json
  src/e2e/resources/representative/hearingAdjournedCallback.json
  src/e2e/resources/representative/hearingBookedCallback.json
  src/e2e/resources/representative/hearingPostponedCallback.json
  src/e2e/resources/representative/oral-evidenceReceivedCallback.json
  src/e2e/resources/representative/oral-responseReceivedCallback.json
  src/e2e/resources/representative/paper-evidenceReceivedCallback.json
  src/e2e/resources/representative/paper-responseReceivedCallback.json
  src/e2e/resources/representative/validAppealCreatedCallback.json
  src/e2e/resources/subscriptionCreatedCallback.json
  src/e2e/resources/subscriptionUpdatedCallback.json
  src/test/java/uk/gov/hmcts/reform/sscs/SscsCaseDataUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/SubscriptionPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
  src/test/resources/json/ccdResponse.json
  src/test/resources/json/ccdResponseWithAppointee.json
  src/test/resources/json/ccdResponseWithAppointeeWithNoOldCaseRef.json
  src/test/resources/json/ccdResponseWithCohFields.json
  src/test/resources/json/ccdResponseWithNoOldCaseRef.json
  src/test/resources/json/cohCcdCase.json
Labels: ns:sscs-tya-notif-pr-567

#564 SSCS-4067 - sscs-common rc version
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisationTest.java
Labels: ns:sscs-tya-notif-pr-564

#568 Sscs 6066 request info lettersending
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/test/resources/json/ccdResponse.json
  src/test/resources/json/ccdResponseWithAppointee.json
  src/test/resources/json/ccdResponseWithAppointeeWithNoOldCaseRef.json
  src/test/resources/json/ccdResponseWithNoOldCaseRef.json
Labels: ns:sscs-tya-notif-pr-568

#570 Update AI Agent Configuration
  lib/applicationinsights-agent-2.3.1.jar
  web.config
Labels: ns:sscs-tya-notif-pr-570

#571 SSCS-6161 - fix build pipeline issue
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs-tya-notif-pr-571

#574 SSCS-6071 - update sscs-common version
  build.gradle
Labels: ns:sscs-tya-notif-pr-574

#577 fix master
  infrastructure/main.tf
Labels: ns:sscs-tya-notif-pr-577

#566 SSCS 5688 direction issued letter
  build.gradle
  charts/sscs-tya-notif/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceForSubscriptionUpdatedTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterServiceIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/CohNotificationsIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/OutOfHoursIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/DocmosisWithGovNotifyLetterFunctionalTest.java
  src/e2e/resources/appellant-appealReceivedCallback.json
  src/e2e/resources/appellant-directionIssuedCallback.json
  src/e2e/resources/representative/appealReceivedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/TrackYourAppealNotificationsApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/DocmosisTemplatesConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/docmosis/PdfCoverSheet.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/Notification.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/Template.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/CohPersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/DocmosisPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/LetterUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfCoverSheetService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/CohPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DocmosisPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/LetterUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfCoverSheetServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterServiceTest.java
Labels: ns:sscs-tya-notif-pr-566

#580 SSCS-6103 Update image location to hmctspublic
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/requirements.yaml
  charts/sscs-tya-notif/values.yaml
Labels: ns:sscs-tya-notif-pr-580
