Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2020-06, with the labels that each got.

#961 SSCS-7550: New AirLookup
  build.gradle
Labels: ns:sscs, rel:sscs-tya-notif-pr-961

#965 SSCS-7130 - Migrate TYA Unsubscribe link to MYA
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.yaml
Labels: ns:sscs, rel:sscs-tya-notif-pr-965

#973 SSCS-7583 CCD UI – Ensure resendAppealCreated sends all expected noti…
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-973

#978 SSCS-7507 Issue final decision notification
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/DocmosisWithGovNotifyLetterFunctionalTest.java
  src/e2e/resources/issueFinalDecisionCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/LetterUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/AllReminderRemover.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/LetterUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/AllReminderRemoverTest.java
  src/test/resources/json/ccdResponse_issueFinalDecision.json
  src/test/resources/json/ccdResponse_issueFinalDecision_withAppointee.json
  src/test/resources/json/ccdResponse_issueFinalDecision_withRep.json
  src/test/resources/json/ccdResponse_issueFinalDecision_withRep_withAppointee.json
Labels: ns:sscs, rel:sscs-tya-notif-pr-978

#987 SSCS-7587 - Upgrade java chart. Add renovate
  .github/renovate.json
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/requirements.yaml
Labels: ns:sscs, rel:sscs-tya-notif-pr-987

#997 SSCS-7418 Integrate HMCTS Java plugin
  build.gradle
Labels: ns:sscs, rel:sscs-tya-notif-pr-997

#992 Upgrade idam 2
  README.md
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/controller/test/smoke/SmokeController.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-992

#996 SCSS 7575 - Library Pipeline for Pact Testing
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-996

#985 SSCS-7419 Notification – Migrate Issue Generic Letter to docmosis
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-985

#975 SSCS-7529 - Delay Notifications of events during case creation
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceBase.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/SscsCaseDataWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/NotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/scheduler/BaseActionExecutor.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/HandlerHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/CohPersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/NotificationDateConverterUtilTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/DocmosisPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/OutOfHoursCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/coh/QuestionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/scheduler/CohActionDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/scheduler/CohActionExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/scheduler/CohActionSerializerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumerTest.java
  src/test/resources/json/ccdResponse.json
  src/test/resources/json/ccdResponseWithAppointee.json
  src/test/resources/json/ccdResponseWithAppointeeWithNoOldCaseRef.json
  src/test/resources/json/ccdResponseWithNoOldCaseRef.json
  src/test/resources/json/ccdResponse_decisionIssued.json
  src/test/resources/json/ccdResponse_decisionIssued_withAppointee.json
  src/test/resources/json/ccdResponse_decisionIssued_withRep.json
  src/test/resources/json/ccdResponse_decisionIssued_withRep_withAppointee.json
  src/test/resources/json/ccdResponse_directionIssued.json
  src/test/resources/json/ccdResponse_directionIssued_withAppointee.json
  src/test/resources/json/ccdResponse_directionIssued_withRep.json
  src/test/resources/json/ccdResponse_directionIssued_withRep_withAppointee.json
  src/test/resources/json/ccdResponse_issueFinalDecision.json
  src/test/resources/json/ccdResponse_issueFinalDecision_withAppointee.json
  src/test/resources/json/ccdResponse_issueFinalDecision_withRep.json
  src/test/resources/json/ccdResponse_issueFinalDecision_withRep_withAppointee.json
  src/test/resources/json/ccdResponse_struckOut.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-975

#1013 SSCS-7712 Caseloader – Re-requesting a new IDAM token before updating…
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1013
