Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2020-01, with the labels that each got.

#794 fix sonar
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs-tya-notif-pr-794

#798 SSCS-7088 Use notifications sent event
  build.gradle
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/sscs/TrackYourAppealNotificationsApplication.java
  src/main/resources/application.yaml
Labels: ns:sscs, rel:sscs-tya-notif-pr-798

#791 SSCS-7053 Remove reminders when appeal dormant
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/reminder/AllReminderRemover.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/scheduler/BaseActionExecutor.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/AllReminderRemoverTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/scheduler/CcdActionExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/scheduler/CohActionExecutorTest.java
Labels: ns:sscs, ns:sscs-tya-notif-pr-791, rel:sscs-tya-notif-pr-791

#811 SSCS-7140 Update AirLookup to v10
  build.gradle
Labels: ns:sscs, rel:sscs-tya-notif-pr-811

#801 SSCS-6996 Notification – Stop hearing reminders/booked event going if…
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/test/java/uk/gov/hmcts/reform/sscs/SscsCaseDataUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationValidServiceTest.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-801
