Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2020-02, with the labels that each got.

#821 SSCS-6947 Move appinsights key to config
  Jenkinsfile_CNP
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.yaml
  infrastructure/main.tf
  src/main/resources/bootstrap.yaml
Labels: ns:sscs, rel:sscs-tya-notif-pr-821

#820 Sscs 7145 sscs 7223 venue airlookup changes
  build.gradle
Labels: ns:sscs, rel:sscs-tya-notif-pr-820

#823 Updated check style version
  Jenkinsfile_CNP
  build.gradle
  config/checkstyle/checkstyle.xml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/DocmosisTemplatesConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationBlacklist.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/LetterUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/reminder/EvidenceReminderTest.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-823

#819 Sscs 7150 point tya to mya links
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/SubscriptionPersonalisationTest.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-819

#839 Remove database secret
  README.md
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.yaml
Labels: ns:sscs, rel:sscs-tya-notif-pr-839

#840 Remove database secret
  charts/sscs-tya-notif/Chart.yaml
  infrastructure/main.tf
Labels: ns:sscs, rel:sscs-tya-notif-pr-840

#841 Revert change to remove database secret
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.yaml
Labels: ns:sscs, rel:sscs-tya-notif-pr-841

#842 Ignore reminder functional tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-842

#843 Revert change to ignore reminder tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-843

#844 Update config for AKS s2s
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.preview.template.yaml
  charts/sscs-tya-notif/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:sscs, rel:sscs-tya-notif-pr-844

#853 Remove default docmosis key
  src/main/resources/application.yaml
Labels: ns:sscs, rel:sscs-tya-notif-pr-853

#855 Disable notification service on ASE
  Jenkinsfile_CNP
  build.gradle
Labels: ns:sscs, rel:sscs-tya-notif-pr-855

#861 Remove ase from prod
  infrastructure/prod.tfvars
Labels: ns:sscs, rel:sscs-tya-notif-pr-861

#863 Terraform cleanup after aks migration
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/variables.tf
Labels: ns:sscs, rel:sscs-tya-notif-pr-863

#864 fix typo
  infrastructure/main.tf
Labels: ns:sscs, rel:sscs-tya-notif-pr-864
