Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2020-10, with the labels that each got.

#1228 Sscs 8003 confidentiality request v2 rebase
  build.gradle
  dependency-check-suppressions.xml
  src/IntegrationTests/java/helper/IntegrationTestHelper.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationItForReviewConfidentialityRequestTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/DocmosisWithGovNotifyLetterFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/resources/directionIssuedProvideInformationCallback.json
  src/e2e/resources/jointParty/directionIssuedCallback.json
  src/e2e/resources/requestInfoIncompleteApplicationCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/SscsCaseDataUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/resources/json/ccdResponseWithJointParty.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1228

#1225 SSCS-8163 - Hearing postponed Joint Party Welsh
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/hearingPostponedCallbackWelsh.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1225

#1226 SSCS-8164 - JP (Welsh) - Decision made (attended hearing)
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/oral-appealDormantCallbackWelsh.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1226

#1218 SSCS-8003 Review confidentiality request
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/IntegrationTests/java/helper/IntegrationTestHelper.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterServiceIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationItForReviewConfidentialityRequestTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/DocmosisWithGovNotifyLetterFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/resources/jointParty/reviewConfidentialityRequestCallback.json
  src/e2e/resources/reviewConfidentialityRequestCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterServiceTest.java
  src/test/resources/json/ccdResponseWithJointParty.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1218

#1229 SSCS-8172 - JP (Welsh) - Decision made (not attending hearing)
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/paper-appealDormantCallbackWelsh.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1229

#1206 SSCS-7810/7811 Add Grant and Refuse Reinstatement for Issue Direction Notice
  build.gradle
  dependency-check-suppressions.xml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1206

#1232 SSCS-8165 - JP (Welsh) - Evidence Reminder (attending hearing)
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/appointee/oral-evidenceReminderCallbackWelsh.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1232

#1234 SSCS-8166 - JP (Welsh) - Evidence Reminder (not attending hearing)
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/appointee/paper-evidenceReminderCallbackWelsh.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1234

#1239 reset notifications end hour back to 17
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1239

#1235 SSCS-8170 Hearing reminder welsh joint party
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
  src/e2e/resources/appointee/hearingBookedCallbackWelsh.json
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1235

#1244 Remove online cor functional tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/online-dwpUploadResponseCallback.json
  src/e2e/resources/online-responseReceivedCallback.json
  src/e2e/resources/online-responseReceivedCallbackWelsh.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1244

#1238 SSCS-8169 - JP (Welsh) - Hearing booked
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1238

#1230 SSCS-8171 Hearing adjourned joint party
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/hearingAdjournedCallbackWelsh.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1230

#1241 SSCS-8224 Message id logging
  README.md
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumer.java
  src/test/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1241

#1243 SSCS-8164 - Appeal Withdrawn Joint Party Welsh
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/appointee/appealWithdrawnCallbackWelsh.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1243

#1242 SSCS-8173 - Appeal Lapsed Joint party welsh
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/appointee/appealLapsedCallbackWelsh.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1242

#1250 Sscs 7937 sscs 7947 upload response - changes for 7947
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1250

#1237 SSCS-8167 Welsh Evidence Received Joint Party Oral : Changing welsh joint party template id and NotificationConfig
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/evidenceReceivedCallbackWelsh.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1237

#1252 JP (Welsh) - Evidence received (no hearing)
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/paper-evidenceReceivedCallbackWelsh.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1252

#1246 SSCS-8177 - Information Request Joint party Welsh
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/requestInfoIncompleteApplicationCallbackWelsh.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1246

#1200 SSCS-8114 Set Phone from RPC unless not present
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1200

#1264 Sscs 7947 upload response joint party paper sms fix
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1264

#1212 SSCS-7937 & SSCS-7947 joint party upload response
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/resources/jointParty/oral-dwpUploadResponseCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1212

#1256 SSCS-8178 - Appeal to proceed - JP Welsh - SSCS-8181 - Refuse Extension - SSCS-8180 - Grant Extension
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/directionIssuedWelshAppealToProceedCallbackWelsh.json
  src/e2e/resources/directionIssuedWelshGrantExtensionCallbackWelsh.json
  src/e2e/resources/directionIssuedWelshRefuseExtensionCallbackWelsh.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1256

#1265 SSCS-8182 - Struck out Jp Welsh
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/struckOutCallbackWelsh.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1265

#1267 SSCS 8140 stop jp notifications if jp no
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1267

#1255 SSCS-8179 Joint party welsh provide information letter
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/directionIssuedWelshProvideInformationCallbackWelsh.json
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1255

#1282 SSCS-8314 Add DWP upload response functional tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/resources/oral-dwpUploadResponseCallback.json
  src/e2e/resources/paper-dwpUploadResponseCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1282

#1262 Sscs 8175 dwp response received joint party welsh
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/oral-dwpUploadResponseCallbackWelsh.json
  src/e2e/resources/paper-dwpUploadResponseCallbackWelsh.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1262

#1284 Add functional test logging
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1284

#1285 Improve logging for functional tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1285

#1266 SSCS 8113 Added new welsh template
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1266

#1253 sscs-7994 Send joint party letter
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1253

#1294 Suppress tomcat dependency
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1294

#1286 SSCS-8214 bump common
  build.gradle
  project/build.properties
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1286

#1303 Extending the suppressed date
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1303
