Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2020-11, with the labels that each got.

#1290 SSCS-8183: JP (Welsh) - New joint party
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/jointPartyAddedCallbackWelsh.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1290

#1302 sscs 8221 rep decision email welsh
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1302

#1297 SSCS-8236 Update welsh hearing booked sms template id
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1297

#1287 SSCS-8330 Move to Elastic Search
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/controller/test/smoke/SmokeController.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1287

#1305 SSCS-8291: Appellant (English/Welsh) - DWP Response (not attending hearing)
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1305

#1315 SSCS-8260 - Appellant, Appointee and Representative (Welsh) - Information request
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1315

#1309 Added refuse urgent hearing notification
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1309

#1316 SSCS-8348 - Update Venue Data
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1316

#1333 Suppress for nightly tests
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1333

#1334 solve issue where null values were coming in email triggered by valid…
  src/main/java/uk/gov/hmcts/reform/sscs/config/PersonalisationConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1334

#1352 fixed the dependency check
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1352

#1343 SSCS-7789 update common
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1343

#1354 fixed the depedency check
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1354
