Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2020-09, with the labels that each got.

#1138 suppress kotlin library version
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1138

#1060 SSCS-7491 - Notification – Moving all notifications over to a queue
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1060

#1136 SSCS-7808 - Appeal to proceed
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/resources/directionIssuedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/resources/json/ccdResponse.json
  src/test/resources/json/ccdResponseWithAppointee.json
  src/test/resources/json/ccdResponseWithNoOldCaseRef.json
  src/test/resources/json/ccdResponse_directionIssued.json
  src/test/resources/json/ccdResponse_directionIssued_withAppointee.json
  src/test/resources/json/ccdResponse_directionIssued_withRep.json
  src/test/resources/json/ccdResponse_directionIssued_withRep_withAppointee.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1136

#1106 WLA-554: Prevent Decision/Direction Issued notifications going out f…
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/appealCreatedAppointeeCallbackWelsh.json
  src/e2e/resources/appealCreatedCallbackWelsh.json
  src/e2e/resources/appealReceivedCallbackWelsh.json
  src/e2e/resources/appellant-subscriptionUpdatedCallbackWelsh.json
  src/e2e/resources/appointee-subscriptionUpdatedCallbackWelsh.json
  src/e2e/resources/appointee/appealLapsedCallbackWelsh.json
  src/e2e/resources/appointee/appealWithdrawnCallbackWelsh.json
  src/e2e/resources/appointee/hearingAdjournedCallbackWelsh.json
  src/e2e/resources/appointee/hearingBookedCallbackWelsh.json
  src/e2e/resources/appointee/hearingPostponedCallbackWelsh.json
  src/e2e/resources/appointee/oral-evidenceReminderCallbackWelsh.json
  src/e2e/resources/appointee/paper-evidenceReceivedCallbackWelsh.json
  src/e2e/resources/appointee/paper-evidenceReminderCallbackWelsh.json
  src/e2e/resources/appointee/responseReceivedCallbackWelsh.json
  src/e2e/resources/evidenceReceivedCallbackWelsh.json
  src/e2e/resources/hearingAdjournedCallbackWelsh.json
  src/e2e/resources/hearingPostponedCallbackWelsh.json
  src/e2e/resources/online-dwpUploadResponseCallbackWelsh.json
  src/e2e/resources/online-responseReceivedCallbackWelsh.json
  src/e2e/resources/paper/responseReceived/esa-paper-responseReceivedCallbackWelsh.json
  src/e2e/resources/paper/responseReceived/paper-no-subscriptions-responseReceivedCallbackWelsh.json
  src/e2e/resources/paper/responseReceived/pip-paper-responseReceivedCallbackWelsh.json
  src/e2e/resources/subscriptionCreatedCallbackWelsh.json
  src/e2e/resources/subscriptionUpdatedCallbackWelsh.json
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/WithRepresentativePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/SscsCaseDataUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/PersonalisationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/WithRepresentativePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1106

#1142 SSCS-7939 - UC Joint Party notifications - Appeal lapsed
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/resources/jointParty/appealLapsedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/SubscriptionType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/NotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/LetterUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/LetterUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
  src/test/resources/json/ccdResponseWithJointParty.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1142

#1172 Upgrade terraform
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1172

#1173 WLA-717 SSCS - Extend coverage of integration tests
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1173

#1147 SSCS-7938 - Joint party notification for Evidence Reminder (attending a hearing)
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/resources/jointParty/oral-evidenceReminderCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1147

#1159 SSCS-7943 Joint party hearing adjourned notification
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/resources/jointParty/hearingAdjournedCallback.json
  src/e2e/resources/jointParty/hearingPostponedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1159

#1165 SSCS-7968 - Hearing booked for Joint Party
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/resources/jointParty/hearingBookedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1165

#1167 SSCS-7969 - Joint party notification for hearing reminder
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/resources/jointParty/hearingReminderCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1167

#1181 Temporarily ignore the failing test
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1181

#1182 Revert "Temporarily ignore the failing test"
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1182

#1183 Sscs 7944 joint party withdrawn v2
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/resources/jointParty/appealWithdrawnCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1183

#1170 SSCS-7948 - Joint party notifications for Evidence Reminder (not attending the hearing)
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/resources/jointParty/paper-evidenceReminderCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1170

#1189 Unignore a reminder test
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1189

#1184 SSCS-7949, SSCS-7950 - Appeal Dormant For Joint Party (oral and paper)
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/resources/jointParty/oral-appealDormantCallback.json
  src/e2e/resources/jointParty/paper-appealDormantCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1184

#1190 Change out of hours time for nightly tests
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1190

#1188 WLA-727: refactor welsh notification tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1188

#1199 WLA-731: Parameterize Welsh phone number for notifications
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/properties/EvidenceProperties.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/SubscriptionPersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1199

#1195 SSCS-7955 - Joint Party Struck Out Letter
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/resources/jointParty/paper-struckOutCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1195

#1201 SSCS-7953 - Directions - Appeal to Proceed for Joint Party
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/resources/jointParty/directionIssuedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1201

#1203 SSCS-7975 grant extension joint party
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/resources/jointParty/directionIssuedCallback.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1203

#1160 SSCS-7947 - DWP upload response (not attending the hearing)
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/resources/jointParty/paper-dwpUploadResponseCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1160

#1213 WLA-735: Upgrade commons 3.4.69
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1213

#1204 SSCS-7976 - Refuse Extension for Joint party
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/e2e/resources/jointParty/directionIssuedCallback.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1204

#1198 Sscs 7952 requestinfo letter jp
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/DocmosisWithGovNotifyLetterFunctionalTest.java
  src/e2e/resources/requestInfoIncompleteApplicationCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/SscsCaseDataUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1198

#1202 Sscs 7974 direction provide info
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/DocmosisWithGovNotifyLetterFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/resources/directionIssuedProvideInformationCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/resources/json/ccdResponseWithJointParty.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1202
