Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2020-05, with the labels that each got.

#937 SSCS-7477 Use new HMCTS logo for letters
  build.gradle
  src/main/resources/application.yaml
Labels: ns:sscs, rel:sscs-tya-notif-pr-937

#938 SSCS-7481 Sheffield DRT changes
  build.gradle
Labels: ns:sscs, rel:sscs-tya-notif-pr-938

#934 SSCS-7472 Pick a random minute to schedule reminders
  src/main/java/uk/gov/hmcts/reform/sscs/service/OutOfHoursCalculator.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/OutOfHoursCalculatorTest.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-934

#924 Sscs 7333 upgrade db
  README.md
  build.gradle
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.yaml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/sscs/config/LegacyFlywayAutoConfiguration.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-924

#943 Disable DB migration on startup and enable only on Preview
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.preview.template.yaml
  charts/sscs-tya-notif/values.yaml
  src/main/resources/application.yaml
Labels: ns:sscs, rel:sscs-tya-notif-pr-943

#944 Fixed apache tika vulnerabilities
  build.gradle
Labels: ns:sscs, rel:sscs-tya-notif-pr-944

#939 SSCS-7413 Handle undefined rep names
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/WithRepresentativePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/LetterUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterService.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/WithRepresentativePersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/LetterUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterServiceTest.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-939

#948 Fix random test failure - looks like same object is getting changed
  src/test/java/uk/gov/hmcts/reform/sscs/service/LetterUtilsTest.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-948

#956 Upgrade gradle to 6.4.1
  Jenkinsfile_CNP
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/CohNotificationFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/AdminAppealWithdrawnNotificationsTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-956

#960 Bump jackson 2.11.0
  build.gradle
Labels: ns:sscs, rel:sscs-tya-notif-pr-960
