Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2020-04, with the labels that each got.

#902 SSCS-7382 Send notification for new cases
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandlerTest.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-902

#910 SSCS-7397 Docmosis dwp upload response letter
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-910

#925 SSCS-7409: Notification – Benefit type is case sensitive & UC not acc…
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumerTest.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-925

#920 SSCS-7408 Handle empty benefit types
  src/main/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactory.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/NotificationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-920

#930 SSCS-7412: Notifications – Bundled letter is not sent due to exception
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
Labels: ns:sscs, rel:sscs-tya-notif-pr-930
