Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2020-12, with the labels that each got.

#1357 SSCS-8118: Added extra logs
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/scheduler/BaseActionExecutor.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1357

#1356 SSCS-8424 - Remove UC flag
  build.gradle
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1356

#1361 SSCS-8230: Adjournment notice - Welsh translation
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1361

#1373 fix for CVE-2020-17521
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1373
