Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2021-09, with the labels that each got.

#1813 SSCS-9567: P1 – Flag to tell users that a case has been affected by t…
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1813

#1797 SSCS-9273:Enable mutation test
  Jenkinsfile_nightly
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1797

#1817 SSCS-9458 - New strike out / decisionIssued letter
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTestIt.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1817

#1820 SSCS-9601 Other party appeal received rep notification
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTestIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsDelayedNotificationsIt.java
  src/e2e/resources/representative/appealReceivedCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/PersonalisationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1820

#1819 SSCS-9553 - Wrong date used for saving notification
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationSender.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationSenderTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1819

#1802 SSCS-9348 - Keep environment specific branches in sync with master
  Jenkinsfile_CNP
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1802

#1827 SSCS-9622 - Turning off hearingPostponed while we wait for S&L
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1827
