Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2021-04, with the labels that each got.

#1518 SSCS-8305 - Un Ignore Functional tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1518

#1537 suppress CVE-2017-6888
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1537

#1521 SSCS-8910-Appeal Lapsed Letter for rep
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/resources/appointee/appealLapsedCallbackWelsh.json
  src/e2e/resources/jointParty/appealLapsedCallback.json
  src/e2e/resources/representative/appealLapsedCallback.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1521

#1538 revert SSCS-8894
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1538

#1547 Bump pdf common 1.4.31
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1547

#1550 SSCS-9046 - fix DC failures
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1550

#1558 Remove bintray
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1558

#1533 SSCS-8855 - Update Common and PDF-Email
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1533

#1526 SSCS-8978 Welsh Panel Translations
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1526

#1560 Revert "Remove bintray"
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1560

#1549 SSCS-9037: Review how RPCs is calculated via the Airlookup file
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1549

#1520 sscs 8893 changed variable to use for multiple benefits
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/resources/paper/responseReceived/carers-allowance-paper-responseReceivedCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1520

#1559 sscs 9045 class to pull templates
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/utils/GetAllTemplatesFromNotify.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1559

#1555 SSCS-9031 Carers allowance camel case fix
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1555

#1566 SSCS-9071 - add personalisation fields
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1566

#1568 SSCS-9050 - DLA - Update Welsh SSCS1 Form
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1568

#1564 SSCS-9064: Use sscs-job-scheduler jitpack jar
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1564

#1576 Sscs 9044 acronym email
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsDelayedNotificationsIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1576

#1585 Ignore failing test
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1585

#1586 Revert "Ignore failing test"
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1586

#1578 sscs 8899 added attendance allowance test and config
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1578

#1579 Sscs 9070 sms acronym fix
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTest.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1579

#1587 added ignore to one of the reminder notification functional tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1587

#1588 Revert "added ignore to one of the reminder notification functional tests"
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/ReminderNotificationsFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1588
