Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2021-12, with the labels that each got.

#1936 SSCS-9777: Tribunals / Common – Change the document ordering
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1936

#1945 upgrade log4j to 2.15.0
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1945

#1938 Sscs 9780 other party letters
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/WithRepresentativePersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1938

#1923 SSCS-9743: Reform-SSCS Child Support - otherPartyAdded Notification
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTestIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterServiceIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/SubscriptionType.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/SubscriptionWithType.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/NotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/WithRepresentativePersonalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/LetterUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterService.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/LetterUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/docmosis/PdfLetterServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1923

#1961 Sscs 9762
  dependency-check-suppressions.xml
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/DocmosisWithGovNotifyLetterFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/OtherPartyFunctionalTest.java
  src/e2e/resources/otherparty/oral-dwpUploadResponseCallback.json
  src/e2e/resources/updateOtherPartyDataCallback.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/WithRepresentativePersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/factory/CcdNotificationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1961

#1939 SSCS-9831 - Update Reissue Document Event
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1939

#1944 Fixed ignore functional test
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1944

#1955 SSCS-9888 - Other party Functional Tests
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/AbstractFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/OtherPartyFunctionalTest.java
  src/e2e/resources/otherparty/oral-eventTypeCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1955

#1963 SSCS-9730 Other party reasonable adjustments
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/LetterUtils.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/LetterUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SaveCorrespondenceAsyncServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1963

#1948 SSCS-9871 refactored common for reissue FE
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1948
