Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2021-02, with the labels that each got.

#1446 SSCS-8574: Look at Jenkins pipeline reliability
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/handlers/AdminAppealWithdrawnNotificationsTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1446

#1455 Suppress kotlin lib dependency check
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1455

#1471 Ignore false positives
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1471

#1466 SSCS-8684 - Upgrade Idam Client Only
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/TrackYourAppealNotificationsApplication.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1466

#1478 sscs-8757 new docmosis urls for staging
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1478
