Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2022-01, with the labels that each got.

#1951 Upgrade log4j to 2.16.0
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1951

#1971 Fix valid appeal created bug for other parties empty details
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/SyaAppealCreatedAndReceivedPersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1971

#1940 SSCS-9861 Added welsh templates for upload response other party added
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTestIt.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1940

#1978 SSCS-9783 Panel list for SSCS5 benefits
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1978

#1993 Sscs 9889 other party added notification sscs5
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-1993
