Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2023-09, with the labels that each got.

#2405 SSCS-11406 - Review and Set aside Permission to appeal application notification
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationEventTypeLists.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2405

#2414 SSCSCI-12
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2414

#2398 Implementation of notification for Correction Granted and Refused
  build.gradle
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/BundledNotificationsConfigTestIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/callback/handlers/FilterNotificationsEventsHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationEventTypeLists.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/PersonalisationMappingConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationSender.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/scheduler/BaseActionExecutor.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicConsumer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/controller/ReminderTestController.java
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2398

#2419 security-fix-12092023
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2419

#2417 TYA: add adminCorrectionHeader
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/BundledNotificationsConfigTestIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationEventTypeLists.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2417

#2423 renovate fix
  .github/renovate.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2423
