Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2023-08, with the labels that each got.

#2399 Sscs 11183 sor granted
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationEventTypeLists.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/PersonalisationMappingConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2399

#2410 CVE Fix and suppression - 04.08.2023
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2410

#2352 Notifications setup for set aside granted/refused.
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationEventTypeLists.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/PersonalisationMappingConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2352

#2407 Sscs 10609 granted refused lta
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationEventTypeLists.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2407

#2404 TYA: add write SOR doc
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationEventTypeLists.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/SendNotificationServiceTest.java
Labels: ns:sscs, prd:sscs, no-changes, rel:sscs-tya-notif-pr-2404

#2411 SSCS-11338: Event notification for With Upper Tribunal
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationEventTypeLists.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/PersonalisationMappingConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2411

#2401 Sscs 11234 permission to appeal request
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationEventTypeLists.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/ActionFurtherEvidencePersonalisation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/ActionFurtherEvidencePersonalisationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2401

#2406 SSCS-10621- Permission to apply refused / granted notifications
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationEventTypeLists.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/notify/NotificationEventType.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/LetterUtils.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SendNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/personalisation/PersonalisationTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/LetterUtilsTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2406
