Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2023-05, with the labels that each got.

#2288 SSCS-11390 - Postponement letters that should not be generated
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTestIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/JointPartyFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/NotificationsFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/OtherPartyFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WelshNotificationsFunctionalTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/WithRepresentativePersonalisationTest.java
  src/e2e/resources/appointee/hearingPostponedCallback.json
  src/e2e/resources/hearingPostponedCallback.json
  src/e2e/resources/hearingPostponedCallbackWelsh.json
  src/e2e/resources/otherparty/oral-eventTypeCallback.json
  src/e2e/resources/representative/hearingPostponedCallback.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2288

#2373 SSCS-11579 - CVE fix
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2373

#2374 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2374

#2371 SSCS-11381 - add new constant
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/config/AppConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/PersonalisationMappingConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/personalisation/Personalisation.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2371
