Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2024-04, with the labels that each got.

#2457 Sscs 12233 vet postponement notifications
  dependency-check-suppressions.xml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
  src/test/resources/json/ccdResponse.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2457

#2488 Merged action postponement and hearing postponed letters
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/config/NotificationConfigTestIt.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/tya/NotificationsIt.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/sya/notifications/OtherPartyFunctionalTest.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2488

#2493 partial revert of SSCS-12233
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2493

#2494 cleanup
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2494
