Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2024-07, with the labels that each got.

#2518 Update suppression date
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2518

#2521 fix nightly build by ignoring known CSP URLs
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2521

#2485 SSCS-12230 - Restrict Hearing Booked
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/NotificationValidService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/NotificationServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2485

#2529 Removing deprecated dependency properties-volume-spring-boot-starter
  build.gradle
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.preview.template.yaml
  charts/sscs-tya-notif/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-tya-notif-pr-2529
