Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2024-06, with the labels that each got.

#2498 SSCSCI-499: upgrade java chart
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2498, enable_keep_helm

#2514 SSCSSI-331 | Add initial delays and maxdelay for async corresponding processing
  src/main/java/uk/gov/hmcts/reform/sscs/config/LetterAsyncConfigProperties.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/SaveCorrespondenceAsyncService.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2514

#2490 SSCSCI-807
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationEventTypeLists.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2490

#2517 Exclude file reported by sonar as it was pushed to master several commits back to unblock release
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2517
