Repository hmcts/sscs-track-your-appeal-notifications, pull requests merged in 2024-03, with the labels that each got.

#2471 Updated suppressions
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2471

#2466 Use new helper method which retrieves data from CCD DB and updates correspondence instead of in memory case data
  build.gradle
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/service/SaveCorrespondenceAsyncService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/SaveCorrespondenceAsyncServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2466

#2469 Use new helper methods to upload letter correspondence to CCD
  build.gradle
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/service/SaveCorrespondenceAsyncService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/SaveCorrespondenceAsyncServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2469

#2482 Update sscs-common to 5.3.4
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2482

#2475 Use update case v2 to trigger notification sent for scheduled reminders
  src/main/java/uk/gov/hmcts/reform/sscs/TrackYourAppealNotificationsApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/scheduler/BaseActionExecutor.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/scheduler/CcdActionExecutor.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/scheduler/CcdActionExecutorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2475

#2455 Addded 'request info from party' to dormant state approved list
  src/main/java/uk/gov/hmcts/reform/sscs/config/NotificationEventTypeLists.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2455

#2483 Update sscs-common to 5.3.6
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2483

#2484 Remove feature toggles from tya correspondence document update
  charts/sscs-tya-notif/Chart.yaml
  charts/sscs-tya-notif/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/service/SaveCorrespondenceAsyncService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/SaveCorrespondenceAsyncServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-tya-notif-pr-2484
